scipy~=1.4
numpy~=1.18
netcdf4~=1.5
boututils
boutdata @ git+https://github.com/boutproject/boutdata.git@83c2d858ac9bb2db04767fc454f6cf4fadb5127d
xbout @ git+https://github.com/boutproject/xbout.git@028bea942008d7248a314c62994ec324fc435522
xhermes @ git+https://github.com/boutproject/xhermes.git@84ddc4f8eb5ed9f0873c72d7bf41a0c824be2dee
